---

- name: Isilon Access Zones Configuration
  gather_facts: false
  hosts: localhost
  vars:
  collections:
  - dellemc.powerscale

  tasks:
    - name: Configure Access Zone
      include_role:
        name: my_accesszones
      loop: "{{ my_access_zones }}"

# - name: Windows DNS AccessZone Delegation
#   gather_facts: false
#   hosts: tbs-winsrv01
#   vars:

#   tasks:
#     - name: Configure Access Zone
#       include_role:
#         name: my_dnsdelegation
#       loop: "{{ my_access_zones }}"